.routesStyle {
    display: flex;
    margin-top: 20px;
    justify-content: left;
    width: 100%;
}

.routeNumberStyle {
    width: 15%;
    border: 1px solid green;
    border-radius: 5px;
    background-color: darkcyan;
    padding: 20px;
}

.showRouteStyle {
    width: 70%;
}

.haltStations {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 85%;
}
.haltStationsRow {
    display: flex;
    height: 100px;
    background-color: bisque;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid aqua;
}
.tomtom-map {
    margin: 10px 0px 10px 30px;
}
/*.routesStyle {
    width: 250px;
    height: 500px;
    margin-top: 20px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: aliceblue;
    padding-top: 15px;
}*/
