.appHeader {
    position: fixed;
    border-radius: 5px;
    font-size: 40px;
    /*background-color: gainsboro;*/
}

.container {
    margin: 0px !important;
}

.containerStyle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-trip {
    justify-content: center;
    height: 100px;
    background-color: dodgerblue;
    font-size: larger;
}

.trip-selection {
    margin-top: 65px;
}
.appHeaderContent {
    min-height: 70px;
    width: 100%;
    background-color: gainsboro;
}

.labelStyle {
    padding-right: 20px;
}

.selected-trip {
    padding-top: 10px;
    justify-content: space-around;
}

