.app-header {
    /*position: fixed;
    border-radius: 5px;
    font-size: 40px;*/
    /*background-color: gainsboro;*/
    background-image: url("bg-4.jpeg");
}

.container {
    margin: 0px !important;
}

.containerStyle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-trip {
    justify-content: center;
    height: 100px;
    font-size: larger;
}

.trip-selection {
    justify-content: center;
    margin-top: 5px;
}

.trip-selection-radio {
    border: 1px solid chartreuse;
    border-radius: 5px;
    padding-top: 5px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.appHeaderContent {
    min-height: 70px;
    width: 100%;
    background-color: gainsboro;
}

.labelStyle {
    padding-right: 20px;
}

.selected-trip {
    padding-top: 10px;
    justify-content: space-around;
}

